.vscode
bin
dev

app/extension/.build
app/extension/build
app/extension/node_modules

app/pixels.chrisesplin.com/.next
app/pixels.chrisesplin.com/out
app/pixels.chrisesplin.com/node_modules
app/pixels.chrisesplin.com/functions/node_modules