rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth.token.isAdmin == true;
    }
    
    function isUser(uid) {
      return request.auth.uid == uid;
    }
    
    match /users/{uid} { 
      allow read: if isUser(uid) || isAdmin();
      allow write: if isUser(uid) || isAdmin();
    }

    match /users/{uid}/oauth2/{documents=**} { 
      allow read: if isUser(uid) || isAdmin();
      allow write: if isUser(uid) || isAdmin();
    }
  }
}