.fileSearch {
  display: flex;
  align-items: center;
}

.fileSearch[data-is-open='true'] {
  background: var(--color-light-background);
  flex: 1;
}

.fileSearch[data-is-open='false'] .search {
  display: none;
}

.search {
  flex: 1;
  margin-left: 1em;
}
