FIREBASE_DATABASE_URL=https://quiver-pixels-2020.firebaseio.com
FIREBASE_PROJECT=quiver-pixels-2020
FIREBASE_TOKEN=abcdefg

GOOGLE_APPLICATION_CREDENTIALS=/app/pixels.chrisesplin.com/functions/service-account.json

IMGUR_CLIENT_ID=abcdefg
IMGUR_CLIENT_SECRET=abcdefg


SERVICE_ACCOUNT_BASE64=abcdefg