ALGOLIA_PRIVATE_API_KEY=ASDFADFAADF
ALGOLIA_PREFIX=ASDFADFAADF
FACEBOOK_APP_ID=ABCDEFG
FACEBOOK_APP_SECRET=ABCDEFG
FACEBOOK_PAGE_TOKEN=ABCDEFG
FACEBOOK_VERIFY_TOKEN=ABCDEFG
FIREBASE_DATABASE_URL=https://quiver-cast.firebaseio.com
FIREBASE_MESSAGING_SERVER_KEY=ABCDEFG
FIREBASE_MESSAGING_SENDER_ID=123456
FIREBASE_MESSAGING_PRIVATE_KEY=ABCDEFG
FIREBASE_PROJECT=quiver-cast
FIREBASE_PROJECT_PROD=colossal-prod
FIREBASE_TOKEN=ABCDEFG
FIREBASE_TOKEN_PROD=ABCDEFG
GCLOUD_PROJECT=quiver-cast
GOOGLE_APPLICATION_CREDENTIALS=/app/functions/service-account.json
IFTTT_CLIENT_ID=ABCDEFG
IFTTT_CLIENT_SECRET=ABCDEFG
IFTTT_SERVICE_KEY=ABCDEFG
MAILGUN_DOMAIN=ABCDEFG
MAILGUN_PRIVATE_KEY=ABCDEFG
MAILGUN_VALIDATION_KEY=ABCDEFG
MAILGUN_WEBHOOK_KEY=ABCDEFG
ROOT_URL=https://quiver-cast.web.app
ROOT_URL_SHORT=https://quiver-cast.web.app/u
SLACK_API_ID=ABCDEFG
SLACK_CLIENT_ID=ABCDEFG
SLACK_CLIENT_SECRET=ABCDEFG
SLACK_SIGNING_SECRET=ABCDEFG
TWITTER_ACCESS_TOKEN=123456
TWITTER_ACCESS_TOKEN_SECRET=123456
TWITTER_CONSUMER_KEY=ABCDEFG
TWITTER_CONSUMER_SECRET=ABCDEFG
SERVICE_ACCOUNT_BASE64=ABCDEFG
