.toolkits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toolkit {
  margin: 1em;
}

.toolkit a,
.toolkit a:visited {
  color: var(--mdc-theme-primary-text);
  text-decoration: none;
}

.toolkit div {
  width: 6em;
  height: 6em;

  border: var(--border);
  padding: 1em;
  text-align: center;
}
