.wrapper {
  width: var(--dimensions-max-width);
  min-height: var(--dimensions-min-height);

  --image-width: 250px;
  --image-height: 250px;
  --image-margin: 0.5em;
}

.buttonLink {
  text-decoration: none;
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
}

.imageGrid img {
  display: block;

  width: var(--image-width);
  height: var(--image-height);
  margin: var(--image-margin);

  background-position: center;
  background-size: cover;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 2em 0;
}

.uploadForm {
  width: 100%;
  margin-top: 2em;
}

.uploadForm > * {
  max-width: var(--dimensions-max-width);
}

.uploadForm > img {
  max-height: 40vh;
}

.chipSet {
  min-height: 3em;
}

.formRow {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 100%;
  margin: 1em 0;
}

.formRow > * {
  width: 100%;
  max-width: var(--dimensions-max-width);
  text-align: left;
}

.card {
  margin: var(--image-margin);
}

.card img {
  margin: 0;
}

.cardBody {
  padding: 0.5em;
}

.cardBody .title {
  overflow: hidden;
  width: calc(var(--image-width) - 1.5em);
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

@media (max-width: 650px) {
  .imageGrid {
    justify-content: center;
  }
}
