.toolkit menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.toolkit menu > *:not(:last-child) {
  margin-right: 0.25em;
}

.menus {
  display: flex;
  position: relative;
  width: var(--dimensions-max-width);
}

.menus menu:first-child {
  flex: 1;
  justify-content: flex-start;
}
