#top-bar {
  display: flex;

  border: var(--border);
  border-width: 0 0 var(--border-width) 0;
  padding: 0.5em;
}

#top-bar a {
  text-decoration: none;
}

#logo,
#back-button {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

#title {
  flex: 1;
}

#title h1 {
  margin: 0;
  user-select: none;
}

#menu {
  display: flex;
  align-items: center;
}

#progress {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
