:root {
  /* MDC */
  --mdc-theme-primary: black !important;
  --mdc-theme-primary-light: slategray;
  --mdc-theme-primary-dark: black;
  --mdc-theme-primary-text: black;

  --mdc-theme-secondary: steelblue !important;
  --mdc-theme-secondary-light: lightsteelblue;
  --mdc-theme-secondary-dark: royalblue;
  --mdc-theme-secondary-text: white;

  /* Colors */
  --color-dark-background: dimgray;
  --color-light-background: white;
  --color-google: #db4437;
  --color-facebook: #3c5a99;

  /* Fonts */
  --font-book: azo-sans-web, sans-serif;
  --font-bold: azo-sans-uber, sans-serif;

  /* Borders */
  --border-width: 4px;
  --border-style: solid;
  --border-color: black;
  --border: var(--border-width) var(--border-style) var(--border-color);
}

/* Type */
body,
.text-book {
  font-family: var(--font-book);
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-bold {
  font-family: var(--font-bold);
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 5vw;
}

@media (max-width: 300px) {
  body {
    font-size: calc(300px * 0.05);
  }
}

@media (min-width: 500px) {
  body {
    font-size: calc(500px * 0.05);
  }
}

/* Global */
body {
  margin: 0;
}

a,
a:visited {
  color: var(--mdc-theme-primary-text);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 4em);
}

#right-drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  background: var(--color-light-background);
  border: none;
}

/* MDC */
.mdc-button .mdc-button__ripple {
  border-radius: 0 !important;
}

.mdc-button--outlined:not(:disabled) {
  border-radius: 0;
  border-color: var(--border-color) !important;
}
